/* Error: expected ")".
 *   ,
 * 3 |   xl: 1200px,
 *   |     ^
 *   '
 *   scss\base\_utils.scss 3:5  @forward
 *   scss\base\_index.scss 4:1  @use
 *   scss\_main.scss 1:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a   \2577 \a 3 \2502    xl: 1200px,\d\a   \2502      ^\a   \2575 \a   scss\\base\\_utils.scss 3:5  @forward\a   scss\\base\\_index.scss 4:1  @use\a   scss\\_main.scss 1:1        root stylesheet';
}
