<div class="container">
    <div class="footer__row">
        <!-- column 1 -->
         <div class="footer__column">
        <a href="./">
            <div class="logo">
                <img src="./assets/icons/main-logo.svg" alt="grocerymart" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </div>
         </a>
           <p class="footer__text footer__text--column1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet rem saepe maxime error animi corrupti quis, aspernatur recusandae sequi! Provident?</p>
           <p class="footer__text footer__text--note">Receive product news and updates</p>
           <form action="" class="footer__form">
            <input type="email" class="footer__input" placeholder="Email address">
            <button class="btn btn--primary" disabled>SEND</button>
           </form>
         </div>
         <!-- column 2 -->
          <div class="footer__column">
            <h3 class="footer__heading">SHOP</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">All Departments
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Fashion Deals</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Electronics Discounts</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Home & Livings Specials</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
            </ul>
          </div>
          <!-- column 3 -->
            <div class="footer__column">
            <h3 class="footer__heading">SUPPORT</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">
                        Store Locator
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Oder Status
                    </a>
                </li>
            </ul>
          </div>
          <!-- column 4 -->
            <div class="footer__column">
            <h3 class="footer__heading">COMPANY</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">
                        Customer Service
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Term of User
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Privacy
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Career
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        About
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        affiliates
                    </a>
                </li>
            </ul>
          </div>
          <!-- column 5 -->
           <div class="footer__column">
            <h3 class="footer__heading">CONTACT
            </h3>
            <ul class="footer__list footer__list--column5">
                <li class="footer__item footer__item--column5">
                    <p class="footer__text">Email</p>
                    <a href="" class="footer__link-email">doviethung.5409@gmail.com</a>
                </li>
                <li class="footer__item footer__item--column5">
                    <p class="footer__text">Hotline</p>
                    <a href="" class="footer__link-tel">0387834332</a>
                </li>
                <li class="footer__item footer__item--column5">
                    <p class="footer__text">Address</p>
                    <a href="" class="footer__link-address">336/79 Đường Nguyễn Duy Quận 8 Thành Phố Hồ Chí Minh Việt Nam</a>
                </li>
                <li class="footer__item footer__item--column5">
                    <p class="footer__text">Hours</p>
                    <span class="footer__active-hours">M - F 08:00am - 06:00pm</span>
                </li>
            </ul>
           </div> 
    </div>
    <!-- footer__bottom -->
     <div class="footer__bottom">
        <p class="footer__author">Đỗ Việt Hùng - N22DCVT039 - TOMMY</p>
        <div class="footer__list-icon">
            <!-- icon 1 -->
            <a class="footer__link">
                <div class="footer__item-icon footer__item-icon-facebook">
                    <img src="./assets/icons/facebook.svg" alt="facebook" class="footer__icon-facebook icon1">
                </div>
            </a>
            <!-- icon 2 -->
            <a class="footer__link">
                 <div class="footer__item-icon footer__item-icon-youtube">
                    <img src="./assets/icons/youtube.svg" alt="youtube" class="footer__icon-youtube icon1">
                 </div>
            </a>
             <!-- icon 3 -->
              <a class="footer__Link">
                  <div class="footer__item-icon footer__item-icon-tiktok">
                    <img src="./assets/icons/tiktok.svg" alt="tiktok" class="footer__icon-tiktok icon1">
                  </div>
              </a>
            <!-- icon 4 -->
             <a class="footer__link">
                 <div class="footer__item-icon footer__item-icon-twitter">
                    <img src="./assets/icons/twitter.svg" alt="twitter" class="footer__icon-twitter icon1">
                 </div>
             </a>
             <!-- icon 5 -->
              <a class="footer__link">
                  <div class="footer__item-icon footer__item-icon-linkin">
                    <img src="./assets/icons/linkin.svg" alt="linkin" class="footer__icon-linkin icon1">
                  </div>
              </a>
        </div>
     </div>
</div>