<div class="container">
    <div class="nav-top">
        <!-- ba gach -->
         <div class="nav-top__group">
                <button class="nav-top__btn">
                    <img src="./assets/icons/ba-gach.svg" alt="ba-gach" class="icon nav-top__icon">
                </button>
            </div>
        <!-- logo -->
        <a href="./">
            <div class="logo">
                <img src="./assets/icons/main-logo.svg" alt="grocerymart" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </div>
        </a>
        <!-- nav -->
         <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Departments
                        <img class="icon navbar__arrow" src="./assets/icons/arrow-down.svg" alt="arrow-down">
                    </a>
                    <div class="drop-down">
                        <div class="drop-down__inner">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi eaque cumque similique, deserunt non. Quia laudantium libero illum ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus est quod sed repellat veritatis doloribus aperiam autem culpa harum! Earum quidem fugiat pariatur expedita dolorum quasi voluptates quos facere est.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Grocery
                        <img src="./assets/icons/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow">
                    </a>
                    <div class="drop-down">
                        <div class="drop-down__inner">
                            Lorem 2 ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi eaque cumque similique, deserunt non. Quia laudantium libero illum ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus est quod sed repellat veritatis doloribus aperiam autem culpa harum! Earum quidem fugiat pariatur expedita dolorum quasi voluptates quos facere est.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Beauty
                        <img src="./assets/icons/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow">
                    </a>
                    <div class="drop-down">
                        <div class="drop-down__inner">
                            Lorem 3 ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi eaque cumque similique, deserunt non. Quia laudantium libero illum ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus est quod sed repellat veritatis doloribus aperiam autem culpa harum! Earum quidem fugiat pariatur expedita dolorum quasi voluptates quos facere est.
                        </div>
                    </div>
                </li>
            </ul>
    
         </nav>
         <div class="top-act">
            <div class="top-act__group top-act__group--first">
                <button class="top-act__btn top-act__btn--extra">
                    <img src="./assets/icons/search.svg" alt="search" class="icon top-act__icon">
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img src="./assets/icons/heart.svg" alt="heart" class="icon top-act__icon">
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img src="./assets/icons/cart-shopping.svg" alt="cart-shopping" class="icon top-act__icon">
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__user">
                <img src="./assets/img/avatar.jpg" alt="avatar" class="top-act__avatar">
            </div>
         </div>
    </div>
</div>